<!DOCTYPE html>
<html ng-app="demo">

  <head>
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <!-- UIRouter -->
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Scripts -->
    <script src="scripts/script.js"></script>
  </head>

  <body>
    <div ng-controller="Main">
      <h1 class="text-center">This page exists.</h1>
      <br>
      <div class="container">
        <input id="search" type="text" ng-model="input" ng-model-options="{ debounce: 500 }" ng-change="search()" class="form-control">
      </div>
      <div class="container">
        <br>
        <p ng-if="results.hits.length==0">No results found.</p>
        <div ng-if="results.hits.length>0">
          <div class="panel panel-default" ng-repeat="hit in results.hits">
            <div class="panel-heading">{{ hit._source.title }}</div>
            <div class="panel-body">{{ hit._source.author }}</div>
          </div>
        </div>
        <!-- <pre> {{ results }} </pre> -->
      </div>
    </div>
  </body>

</html>
